[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[credential "https://dev.azure.com"]
    useHttpPath = true
[diff]
    colorMoved = zebra
    submodule = log
[fetch]
    prune = true
[init]
    defaultBranch = main
[pull]
    rebase = true
[push]
    recurseSubmodules = on-demand
[status]
    submodulesummary = 1
[submodule]
    recurse = true
