[credential "https://dev.azure.com"]
    useHttpPath = true
[diff]
    colorMoved = zebra
    submodule = log
[fetch]
    prune = true
[init]
    defaultBranch = main
[pull]
    rebase = true
[push]
    recurseSubmodules = on-demand
[status]
    submodulesummary = 1
[submodule]
    recurse = true
[credential]
    helper = {{ git_credential_manager_path }}
    credentialStore = secretservice
[user]
    name = {{ git_user_name }}
    email = {{ git_user_email }}
